:root{
    --bs-blue:#9EC5AB;
    --bs-green:#104f55;
}
html{
    font-size:62.5%;
}
body{
    font-family: 'raleway', sans-serif;
    font-size:1.6rem;
    line-height:2;  
}

h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 3 rem;
}
@media(min-width:768px){
    h1{
        font-size: 4.5rem;
    }
}

h2{
    font-size: 3.2 rem;
}
@media(min-width:768px){
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2.4 rem;
}
@media(min-width:768px){
    h3{
        font-size: 3rem;
    }
}

/* Reescribir colores */
.text-primary, .nombre-sitio{
    color: var(--bs-blue) !important;
}
.btn-success{
    background-color:var(--bs-green)!important;
}
.bg-primary,
.btn-primary{
    background-color: var(--bs-blue) !important;
    color:#01200f!important;
}

.hero{
    background-image:url(../img/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media(min-width:768px){
    .hero{
        height: 55rem;
    }
}


/* Productos */

@media(min-width:768px){
    .producto img{
        height: 45rem;
        width:100%;
        object-fit: cover;
    }
}

.categoria img{
    transition-property: transform;
    transition-duration: 330ms;
}
.categoria img:hover{
    transform: scale(1.2);
}

.galeria li:not(:last-of-type){
    margin-bottom: 1rem;
    
}


.form-control{
    padding: 1rem;
    font-size: 1.6rem;
}